.main_layout {
  min-height: 100vh;
  background-color: var(--bg_primary);
  display: flex;
  flex-direction: column;
  padding: 10px;
}
@media screen and (min-width: 600px) {
  .main_layout {
    padding: 20px;
  }
}
@media screen and (min-width: 900px) {
  .main_layout {
    padding: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .main_layout {
    padding: 30px;
  }
}

.sub_layout {
  height: auto;
  width: 100%;
  padding: 10px 15px;
}

.greeting_text {
  color: var(--text_color_primary);
  font-size: 20px;
  font-family: var(--ff_primary);
  font-weight: 600;
  margin: 0px;
  margin-top: 10px;
}
@media screen and (min-width: 600px) {
  .greeting_text {
    margin-top: 35px;
    font-size: 25px;
  }
}
@media screen and (min-width: 900px) {
  .greeting_text {
    margin-top: 45px;
    font-size: 30px;
  }
}

.statistics_card {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.statistics_total_products_card {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.statistics_title {
  color: var(--text_color_secondary);
  font-family: var(--ff_primary);
  font-size: 15px;
  margin: 0px;
  margin-top: 10px;
}
@media screen and (min-width: 600px) {
  .statistics_title {
    font-size: 18px;
  }
}

.status_overview_card {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
}
@media screen and (min-width: 600px) {
  .status_overview_card {
    gap: 7px;
  }
}

.total_status_card {
  padding: 8px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--accent_primary);
}

.total_status {
  color: var(--text_color_primary);
  font-family: var(--ff_primary);
  font-size: 14px;
  font-weight: 800;
  margin: 0px;
}
@media screen and (min-width: 600px) {
  .total_status {
    font-size: 16px;
  }
}

.statistics_category_card {
  height: auto;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border: solid 1px var(--border_color_secondary);
  border-radius: 12px;
  padding: 15px;
  margin-top: 20px;
}

.statistics_category_title {
  color: var(--text_color_primary);
  font-family: var(--ff_primary);
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
}
@media screen and (min-width: 600px) {
  .statistics_category_title {
    font-size: 18px;
  }
}
@media screen and (min-width: 900px) {
  .statistics_category_title {
    font-size: 20px;
  }
}

.product_category_list_card {
  list-style-type: decimal;
  max-height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}
@media screen and (min-width: 900px) {
  .product_category_list_card {
    gap: 15px;
  }
}

.product_category_item_card {
  color: var(--text_color_primary);
  font-family: var(--ff_primary);
  font-size: 13px;
}
@media screen and (min-width: 600px) {
  .product_category_item_card {
    font-size: 16px;
  }
}

.category_text {
  color: var(--text_color_primary);
  font-family: var(--ff_primary);
  font-size: 14px;
  font-weight: 700;
  margin: 0px;
}
@media screen and (min-width: 600px) {
  .category_text {
    font-size: 16px;
  }
}

.add_product_btn_card {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 15px;
}

.add_product_btn {
  height: 40px;
  font-size: 15px;
  font-weight: 700;
}

.product_table_card {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 20px;
  padding: 10px;
}
@media screen and (min-width: 600px) {
  .product_table_card {
    padding: 20px;
  }
}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #3651d9;
  --sb-size: 10px;
}

.product_category_list_card::-webkit-scrollbar {
  width: var(--sb-size);
}

.product_category_list_card::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 30px;
}

.product_category_list_card::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 30px;
  border: 2px solid #232e33;
}

@supports not selector(::-webkit-scrollbar) {
  .product_category_list_card {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
